{{- define "main" -}}

  {{- if not (eq .Kind "home") -}}
  <h1>{{ .Title }}</h1>
  {{- end -}}

  {{/* Menu anchor for category in the same page */}}
  {{- if .Site.Taxonomies.categories -}}
  <nav class="nav nav-anchor">
    <h3 data-i18n="nav-anchor">{{ i18n "nav-anchor" }}</h3>
    <ul>
    {{- range $key, $value := .Site.Taxonomies.categories -}}
      <li><a href="#{{ $key | urlize }}">{{ $key | humanize }}</a></li>
    {{- end -}}
    </ul>
  </nav>
  {{- end -}}

  {{/* Distinguish uniq section per category */}}
  {{ $defaultLanguageSite := false}}
  {{ range where .Sites ".Language.Lang" (.Scratch.Get "defaultlanguage") }}
    {{- $defaultLanguageSite = . -}}
    {{- range $key, $value := .Taxonomies.categories -}}
    {{- $.Scratch.Set "section" slice -}}
    <h3 id="{{ $key | urlize }}"><a href="/categories/{{ $key | urlize }}">{{ $key | humanize }}</a></h3>
    {{/* Distinguish uniq package per category */}}
    {{- range $index, $value := $value -}}
      {{- $.Scratch.Add "section" (replace .File.Dir "/" "") -}}
    {{- end -}}
    {{- $sections := uniq ($.Scratch.Get "section") -}}
    <ul class="grid list-unstyled">
      {{/* Loop over each uniq package */}}
      {{- range $index, $value := $sections -}}
        {{- with $defaultLanguageSite -}}
        {{- with .Site.GetPage (string $value) -}}
        {{- partial "list-package-item" . -}}
        {{- end -}}
        {{- end -}}
      {{- end -}}
    </ul>
    {{- end -}}
  {{- end -}}

{{- end -}}
