.debug {
  position: relative;
  font-size: 14px;
}

.debug.expanded .debug-badge {
  position: absolute;
  top: -40px;
}

.debug.expanded .debug-content {
  display: block;
}

.debug-badge {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 50px;
  color: white;
  border: none;
  background: #0a1922;
}

.debug-badge .debug-template-name {
  flex: 0;
  padding: 20px 20px;
  line-height: 1;
  font-weight: normal;
}

.debug-badge .debug-toggle {
  display: flex;
  align-items: center;
  flex: 0;
  padding: 2px 0.5em;
  font-size: 1.7em;
  cursor: pointer;
  background-color: #ff3f88;
}

.debug-badge .debug-toggle:hover {
  background-color: #ff2c7d;
}

.debug-content {
  z-index: 1000;
  bottom: 0;
  display: none;
  margin: 0 auto;
  padding: 60px;
  width: 100%;
  color: white;
  background: #0a1922;
}

.debug-content .debug-expander {
  display: none;
}

.debugprint_wrap {
  display: inline-block;
}

table.debugprint {
  line-height: 1.1;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  color: #ffffff;

  -webkit-font-smoothing: antialiased;
}


.debugprint th {
  padding: 5px 20px;
}

.debugprint td {
  vertical-align: top;
}

.debugprint th {
  padding: 5px 20px;
  font-weight: 700;
  text-align: left;
  color: #e66798;
}

.debugprint th.type {
  display: none;
}

.debugprint td {
  padding: 5px 20px;
  text-align: left;
}

.debugprint th:first-of-type {
  padding-left: 0 !important;
}

.debugprint td:first-of-type {
  padding-left: 0 !important;
}

.debugprint td.key {
  color: #ffffff;
}

.debugprint td.type {
  display: none;
  font-family: 'Source Code Pro', monospace;
  color: #ced0d3;
}

.debugprint td.value {
  font-family: 'Source Code Pro', monospace;
  color: #ced0d3;
}

/* Tabs
/* Style the tab */
.tabs {
  width: 100%;
}

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: inline-block;
  padding: 14px 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  border: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  outline: none;
  background: #586168;
  background-color: inherit;
}

.tab button:focus {
  outline: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #33414b;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2c353b;
}

/* Style the tab content */
.tabcontent {
  display: none;
  overflow: auto;
  padding: 20px 20px;
  width: 100%;
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #2c353b;
}
