{{- define "main" -}}
<nav id="nav" class="nav nav-main">
<p>Découvrir les sections</p>
{{- $pagepermalink := .Permalink -}}
<ul class="list-inline list-unstyled">
  {{- range .Site.Home.Sections -}}
    <li class="{{ if eq $pagepermalink .Permalink }}active{{ end}}">{{ if not (eq $pagepermalink .Permalink) }}<a href="{{ .Permalink }}">{{ else }}<span>{{ end }}{{ .Title }}{{ if not (eq $pagepermalink .Permalink) }}</a>{{ else }}<span>{{ end}}</li>
  {{- end -}}
</ul>
</nav>
<h1 class="h3">{{ .Title }}</h1>
{{ partial "list-item" . }}
{{- end -}}
