<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="{{ with .Params.robots }}{{ . }}{{ else }}{{ .Site.Params.robots }}{{ end }}">
  <title>{{ block "title" . }}{{ .Title }}{{ end }} | {{ .Site.Title }}</title>
  {{- with .Description -}}
  <meta name="description" content="{{ . }}">
  {{- end -}}
  {{- if .Site.Params.favicon -}}
  <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
  {{- end -}}
  <!-- Informations -->
  {{ hugo.Generator }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="manifest" href="/manifest.json">
  {{ if .IsTranslated }}
    {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}
  {{ end }}
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <!-- CSS -->

  {{- $colors := resources.Get "css/overgo/config/colors.css" -}}
  {{- $mediaqueries := resources.Get "css/overgo/config/mediaqueries.css" -}}
  {{- $typography := resources.Get "css/overgo/config/typography.css" -}}
  {{- $utilities := resources.Get "css/overgo/tool/utilities.css" -}}
  {{- $base := resources.Get "css/overgo/base/base.css" -}}
  {{- $layout := resources.Get "css/overgo/base/layout.css" -}}
  {{- $remedy := resources.Get "css/overgo/base/remedy.css" -}}
  {{- $normalizeopentype := resources.Get "css/overgo/generic/normalize-opentype.css" -}}
  {{- $skiplink := resources.Get "css/overgo/generic/skiplink.css" -}}
  {{- $print := resources.Get "css/overgo/generic/print.css" -}}
  {{- $breadcrumb := resources.Get "/css/breadcrumb.css" -}}
  {{- $fonts := resources.Get "/css/fonts.css" -}}
  {{- $styles := resources.Get "/css/styles.css" -}}

  {{- $stylesheets := slice $colors $mediaqueries $typography $utilities $base $layout $remedy $normalizeopentype $skiplink $print $breadcrumb $fonts $styles }}

  {{- $style := $stylesheets | resources.Concat "styles.css" -}}

  {{- if .Site.IsServer -}}
  {{- else -}}
  {{- $style := $style | postCSS (dict "config" "postcss.config.js") -}}
  {{- end -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">

  <!-- Translation -->
  {{- if .IsTranslated -}}
  {{- range .Translations -}}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{- end -}}
  {{- end -}}


  {{- with .OutputFormats.Get "RSS" -}}
  <link href="{{ .RelPermalink }}" rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
  <link href="{{ .RelPermalink }}" rel="feed" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
  {{- end -}}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}
</head>
