<li class="card">
  {{- with .File -}}{{- $.Scratch.Set "title" .File.BaseFileName -}}{{- end -}}
  {{- range $index, $value:= where $.Site.Pages "Section" .Section -}}
  {{- $path := printf "%s%s" $.Site.Params.contentpath (string .File.Dir) -}}
    {{- $.Scratch.Set "pathimage" "" -}}
    {{- range (readDir $path) -}}
    {{- if in .Name ($.Scratch.Get "title")  -}}
      {{- if or (in .Name ".jpg") (in .Name ".png") (in .Name ".jpeg") -}}
        {{- $.Scratch.Set "pathimage" (printf "%s%s" $path .Name) -}}
      {{- end -}} 
    {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if ($.Scratch.Get "counteraudio") -}}{{- $.Scratch.Set "typemedia" "audio" -}}{{ else if ($.Scratch.Get "counterdocument") }}{{- $.Scratch.Set "typemedia" "document" -}}{{ else if ($.Scratch.Get "countervideo") }}{{- $.Scratch.Set "typemedia" "video" -}}{{ end}}
  <figure><a href="{{ .RelPermalink }}"><img src="{{ $.Scratch.Get `pathimage` }}"></a></figure>
  <div class="meta-content">
    {{/*  <time>{{ .Date.Format (.Site.Params.dateFormat | default "Monday, Jan 2, 2006") }}</time>  */}}
    <span class="meta-type"><img src='/assets/svg/picto-{{- $.Scratch.Get "typemedia" -}}.svg' width="48px"/></span>
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  </div>
  <div class="meta-link">
    <a href="{{ .Permalink }}" data-i18n="link-access-content" data-i18n="link-access-content">{{ i18n "link-access-content" }}</a>
  </div>
</li>
