<div class="pagination">
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">Previous Page</a>
  {{ end }}
  {{ if or .Paginator.HasPrev .Paginator.HasNext }}
  {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
  {{ end }}
  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}">Next Page</a>
  {{ end }}
</div>
